Bonjour {{firstname}},

comme convenu précédement tu as du recevoir un accès à un repo contenant un petit exercice à faire. Dans un premier temps, merci de simplement accuser réception des accès, afin qu'en cas de problème nous puissions le régler rapidement!

L'exercice est simple, ce qui veut dire qu'on sera attentifs au moindre détail. La rigueur est une qualité qu'on apprécie particulièrement, donc je t'invite à faire super attention à tous les petits détails, le style, la lisibilité, la maintenabilité.
Par ailleurs, l'exercice étant vraiment simple, tu peux ajouter tout ce que tu veux et qui te semble contribuer à rendre le code plus propre, maintenable, déployable, etc. Je n'attends rien de particulier, si ce n'est que tu démontres que tu peux te donner du mal même sur quelque chose de trivial.

N'hésite pas si tu as une question, et également envoie-nous un petit mail quand c'est fini pour que nous regardions (je n'ai pas de notif particulière sinon).

Bien cordialement,

{{signature}}