Bonjour {{firstname}}
<br><br>
Comme prévu, je te transmets quelques questions auxquelles j'aimerais que tu répondes, certaines concernent des situations que tu pourrais vivre avec nous, d'autres pas. Dans tous les cas j'aimerais que tu y accordes un peu de temps.
<br><br>
<u>Question 1 :</u> Un client vous contacte et vous dit qu'il a des problèmes avec la plateforme. Ils sont sur le point de déployer un chatbot en production et le client annonce que ca ne marche pas bien, que faites-vous ?
<br><br>
<u>Question 2 :</u> Si un client vous pose des questions sur un sujet déjà traité lors d'une formation que vous avez faite auparavant, quelle est votre réaction ?
<br><br>
<u>Question 3 :</u> Le déploiement d’un chatbot est prévu chez un client. Vous avez un emploi du temps très serré et avez prévu de finaliser une dernière tâche avant déploiement le jour précédent celui-ci. Hors, vous avez un énorme imprévu et n’êtes pas en mesure de préparer le chatbot pour le déploiement final. Que faites vous ?
<br><br>
<u>Question 4 :</u> Un client achète la solution et décide de déployer un chatbot dans l'entreprise, hors le chef de projet désigné par l'entreprise est réfractaire aux chatbots et le déploiement semble mal s'annoncer. Que faites-vous ?
<br><br>
Je te remercie d'avance pour ton temps et attends ton retour avec impatience.
<br><br>
Bien à toi,
<br><br>
{{signature}}
