Bonjour {{firstname}},
<br>
Comme prévu, je te transmets quelques questions auxquelles j'aimerais que tu répondes, certaines concernent des situations que tu pourrais vivre avec nous, d'autres pas. Dans tous les cas j'aimerais que tu y accordes un peu de temps.
<br><br>
<b>Question 1 :</b> Nous organisons dans nos locaux une soirée de lancement pour la nouvelle version de notre plateforme dans laquelle nous présenterons nos nouvelles fonctionnalités et la roadmap produit sur les 12 prochains mois. Pour cet évènement nous souhaitons inviter une trentaine de personnes, tous clients et faisant partie de pôles de directions stratégiques dans leurs entreprises. Écris l'email que tu leur transmettras pour les inviter.
<br><br>
<b>Question 2 :</b> Tu viens d'envoyer l'email d'invitation pour l'évènement de la question 1, au bout de quelques jours tu reçois la réponse suivante du DRH d'un de nos clients. Quelle sera ta réponse, pourquoi ?
<br><i>Bonjour {{firstname}}, merci pour cette invitation. J'adorerais venir voir ce que vous nous réservez pour cette nouvelle année, hors, il est absolument nécessaire que dix de mes collaborateurs viennent avec moi. En effet ils sont en charge du sujet chatbot chez nous et sont impliqué opérationnellement dans la maintenance de Clevy chez nous. Nous serons donc 11.</i>
<br><br>
<b>Question 3 :</b> Rédige un plan d'actions évènementiel pour Clevy sur les 12 prochain mois : types d'évènements, lieux, invités, etc...
<br><br>
Tu noteras que toutes ces questions n'ont pas de réponses parfaites, nous sommes bien conscients que tu postules pour un stage et que tu ne connais Clevy qu'aux travers de notre site et nos actions de communications. Nos attentes ne se placent donc pas au niveau de la justesse de tes réponses mais plutôt au niveau de tes reflexions.
<br><br>
Je te remercie d'avance pour ton temps et attends ton retour avec impatience.
<br><br>
Bien à toi,
<br><br>
{{signature}}
